<h1>Создание дворца</h1>

<%= render "errors/error_messages", resource: @ice_palace %>

<div class="col-md-7 col-lg-5 mt-5">
  <div class="row g-3">
    <%= form_with model: @ice_palace do |f| %>
      <div class="col-sm-12">
        <%= f.label :title, "Название", class: 'form-label mb-1' %>
        <%= f.text_field :title, class: "form-control mb-3" %>
      </div>

      <div class="col-sm-12">
        <%= f.label :adress, "Адрес", class: 'form-label mb-1' %>
        <%= f.text_field :adress, class: "form-control mb-3" %>
      </div>

      <div class="col-sm-12">
        <%= f.label :description, "Описание", class: 'form-label mb-1' %>
        <%= f.text_area :description, autofocus: true, class: "form-control mb-3" %>
      </div>

      <div class="col-sm-12">
        <%= f.label :map_script, "Скрип карты", class: 'form-label mb-1' %>
        <%= f.text_area :map_script, autofocus: true, class: "form-control mb-3" %>
      </div>

      <div class="col-12">
        <%= f.label :photo, "Фото", class: "form-label mb-1 col-lg-12" %>
        <%= f.file_field :photo, class: "form-control  mb-3"%>
      </div>

      <div class="actions">
        <%= f.submit "Подтвердить",class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>


<div>
  <%= link_to "Отменить", :back %>
</div>