<%= render "errors/error_messages", resource: @user %>

<div class="col-md-7 col-lg-5">
  <div class="row g-3">
    <%= form_with model: @user do |f| %>

      <div class="col-sm-6">
        <%= f.label :email, "Почта", class: 'form-label mb-1' %>
        <%= f.email_field :email, autofocus: true, class: "form-control mb-3" %>
      </div>

      <div class="col-sm-6">
        <%= f.label :phone_number, "Телефон", class: 'form-label mb-1' %>
        <%= f.text_field :phone_number, class: "form-control mb-3" %>
      </div>

      <div class="col-12">
        <%= f.label :full_name, "ФИО", class: "form-label mb-1" %>
        <%= f.text_field :full_name, class: "form-control mb-3" %>
      </div>

      <% if @user.is_goalkeeper?%>
        <div class="col-12">
          <%= f.label :date_of_birth, "Дата рождения", class: "form-label mb-1" %>
          <%= f.date_field :date_of_birth, class: "form-control mb-3" %>
        </div>

        <div class="col-12">
          <%= f.label :clubs, "Клубы", class: "form-label mb-1" %>
              <%= f.text_area :clubs, class: "form-control mb-3" %>
        </div>

        <div class="col-12">
          <%= f.label :metro, "Метро", class: "form-label mb-1" %>
          <%= f.text_field :metro, class: "form-control mb-3"  %>
        </div>

        <div class="field col-lg-10">
          <%= f.label :cost, "Стоимость игры (1 час)",class: "form-label mb-1"%>
          <%= f.text_field :cost, class: "form-control mb-3" %>
        </div>
        
        <div class="field col-lg-10">
          <%= f.label :level, "Уровень подготовки",class: "form-label mb-1"%>
          <%= f.select(:level, ["Новичок", "Любитель", "Любитель профи", "Спорт. школа", "Спорт. школа профи", "Мастер"], {} ,{ class: "form-control mb-3" }) %>
        </div>
      <% end %>

      <div class="col-12">
        <%= f.label :avatar, "Аватар", class: "form-label mb-1 col-lg-12" %>
        <div class="col-12 mb-1">
          <% if user.avatar.attached? %>
            <%= image_tag(user.avatar, size: "100x100", class: "rounded-3")%>
          <% end %>  
        </div>
        <%= f.file_field :avatar, class: "form-control  mb-3"%>
      </div>

      <div class="actions">
        <%= f.submit "Подтвердить",class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>