<h2>Регистрация</h2>
<%= render "error_messages", resource: @user %>
<div class="col-md-4 col-lg-5">
  <div class="row g-3">
    <%= form_with( model: @user, html: { data: { turbo: false } } ) do |f| %>

      <div class="field col-lg-8">
        <%= f.label :email, "Почта", class: "form-label mb-1"%>
        <%= f.email_field :email, autofocus: true, class: "form-control mb-3" %>
      </div>

      <div class="field col-lg-8">
        <%= f.label :phone_number, "Телефон" ,class: "form-label mb-1"%>
        <%= f.text_field :phone_number, class: "form-control mb-3" %>
      </div>

      <div class="field col-lg-10">
        <%= f.label :full_name, "ФИО",class: "form-label mb-1"%>
        <%= f.text_field :full_name, class: "form-control mb-3" %>
      </div>

      <div class="field col-lg-10">
        <%= f.label :metro, "Метро",class: "form-label mb-1"%>
        <%= f.text_field :metro, class: "form-control mb-3" %>
      </div>

      <div class="field col-lg-10">
        <%= f.label :cost, "Стоимость игры (1 час)",class: "form-label mb-1"%>
        <%= f.text_field :cost, class: "form-control mb-3" %>
      </div>
      
      <div class="form-group">
        <%= f.label :level, "Уровень подготовки",class: "form-label mb-1"%>
        <%= f.select(:level, ["Новичок", "Любитель", "Любитель профи", "Спорт. школа", "Спорт. школа профи", "Мастер"], {} ,{ class: "form-control mb-3" }) %>
      </div>

      <div class="field">
        <%= f.label :password, "Пароль",class: "form-label mb-1"%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control mb-3" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Подтверждение пароля",class: "form-label mb-1"%><br />
        <%= f.password_field :password_confirmation, class: "form-control mb-3" %>
      </div>

      <div class="actions">
        <%= f.submit "Зарегистрироваться", class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Войти", new_session_path %><br />
