<%= link_to "Назад", :back, class: "btn btn-secondary px-4 float-end"%>
<div class="container">
  <div class="row">
  <% @timetable_units.each do |week_day, units| %>
    <div class="col-md-3 mb-5">
      <h5><%= week_day %></h5>
    </div>
    <div class="col-md-9">
      <div class="row">
        <% units.each do |unit|%>
          <div class="col-md-12 col-lg-4 mb-3">
            <% if unit.section %>
              <div class="card card-custom border-white border-0" style="border-radius: 15px 15px 15px 15px; min-height: 100px; background-color: rgb(227, 227, 255)">
            <% else %>
              <div class="card card-custom border-white border-0" style="border-radius: 15px 15px 15px 15px; min-height: 100px;">
            <% end %>
              <div class="card-body" style="overflow-y: auto">
                <h4 class="card-title mb-4"><%= unit.title %></h4>
                <p class="card-text mt-3"><%= unit.start %> - <%= unit.end %></p>
                <% if unit.unit && @user == current_user %>
                  <%= link_to 'Редактировать', edit_timetable_unit_path(unit.unit) %>
                  <%= button_to 'Удалить', timetable_unit_path(unit.unit), method: :delete, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
    <% if @user == current_user %>
      <%= link_to 'Создать новую запись', new_timetable_unit_path %>
    <% end %>
  </div>
</div>