
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center pt-3">
              <% if @user.avatar.attached? %>
                <%= image_tag(@user.avatar.variant(:thumb).processed.url, class: "rounded-circle")%>
              <% else %>
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <% end %>
              <div class="mt-4">
                <h4><%= @user.full_name %></h4>
                <h5 class="mt-4"><%= @user.is_goalkeeper? ? "Вратарь" : "Арендатор" %></h5>
                <div class="pt-2">
                  <% if current_user == @user %>
                    <%= link_to "Редактировать", edit_user_path(@user), class: "btn btn-primary px-4"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Почта</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @user.email %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Телефон</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <%= @user.phone_number %>
              </div>
            </div>
            <hr>
            <% if @user.is_goalkeeper? %>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Метро</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @user.metro %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Возраст</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <% if @user.date_of_birth.present?%>
                    <%= age(@user.date_of_birth) %>
                  <% end %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Клубы</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @user.clubs %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Стоимость игры (1 час)</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @user.cost %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Уровень подготовки</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @user.level %>
                </div>
              </div>
              <hr>
            <% end %>
            <div class="row">
              <div class="col-sm-3">
                <% if current_user == @user%>
                  <%= button_to "Удалить", @user, method: :delete, data: {turbo: false}, class: "btn btn-danger"%>
                <% elsif current_user&.is_admin && current_user != @user && !@user.is_admin%>
                  <%= button_to "Сделать админом", update_to_admin_user_path(@user), method: :patch, data: {turbo: false}, class: "btn btn-secondary"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless @user.sections.empty?%>
  <h2 class="pt-5">Открытые секции</h2>
  <hr>
  <div class="container">
    <div class="row pt-5 m-auto">
      <% @user.sections.each do |ice_palace| %>
        <%= render ice_palace %>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @user.adverts.empty? %>
  <div class="container">
    <h2 class="pt-5">Открытые объявления</h2>
    <hr>
    <div class="row pt-5 m-auto">
      <% @user.adverts.each do |advert| %>
          <%= render advert %>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @user.subscriptions.where(entity_type: 'Section', approved: true).empty? %>
  <div class="container">
    <h2 class="pt-5">Активные подписки на секции</h2>
    <hr>
    <div class="row pt-5 m-auto">
      <% @user.subscriptions.where(entity_type: 'Section', approved: true).each do |s| %>
        <%= render 'sections/section', section: s.entity %>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @user.subscriptions.where(entity_type: 'Advert', approved: true).empty? %>
  <div class="container">
    <h2 class="pt-5">Активные подписки на заявки</h2>
    <hr>
    <div class="row pt-5 m-auto">
      <% @user.subscriptions.where(entity_type: 'Advert', approved: true).each do |s| %>
        <%= render 'adverts/advert', advert: s.entity %>
      <% end %>
    </div>
  </div>
<% end %>
