<%= form_with( url: ice_palace_sections_path(@ice_palace), model: @section) do |f| %>
  <% if @section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% @section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :weekday, style: "display: block" %>
    <%= f.text_area :weekday %>
  </div>

  <div>
    <%= f.label :start_time, style: "display: block" %>
    <%= f.time_field :start_time %>
  </div>

  <div>
    <%= f.label :end_time, style: "display: block" %>
    <%= f.time_field :end_time %>
  </div>

  <div>
    <%= f.label :section_type, style: "display: block" %>
    <%= f.text_area :type %>
  </div>

  <div>
    <%= f.label :level, style: "display: block" %>
    <%= f.text_area :level %>
  </div>

  <div>
    <%= f.label :goalkeeper_level, style: "display: block" %>
    <%= f.text_area :goalkeeper_level %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
