<div class="col-md-12 col-lg-4 mb-3">
  <div class="card card-custom bg-white border-white border-0" style="border-radius: 15px 15px 15px 15px;">
    <%= content_tag 'div', '', class: 'card-custom-img',style: "background-image: url('#{image_path("#{Random.rand(1..3)}")}')" %>
    <div class="card-body" style="overflow-y: auto">
      <h4 class="card-title mb-4"><%= section.section_type%></h4>
      <h6>Арендатор: <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> <%= section.user.full_name %></a></h6>
      <h6>Требуемый уровень вартаря: <%= section.goalkeeper_level %></h6>
      <p class="card-text mt-3"><%= section.description %></p>
    </div>
    <div class="card-footer" style="background: inherit; border-color: inherit;">
      <%= link_to "Просмотр", ice_palace_section_path(id: section.id, ice_palace_id: @ice_palace.id ), class: "btn btn-primary" %>
    </div>
  </div>
</div>
