<div id="<%= dom_id section %>">
  <p>
    <strong>Ice palace:</strong>
    <%= section.ice_palace_id %>
  </p>

  <p>
    <strong>Weekday:</strong>
    <%= section.weekday %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= section.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= section.end_time %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= section.section_type %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= section.level %>
  </p>

  <p>
    <strong>Goalkeeper level:</strong>
    <%= section.goalkeeper_level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= section.description %>
  </p>

</div>
