<div class="col-md-12 col-lg-4 mb-3">
  <div class="card card-custom bg-white border-white border-0" style="border-radius: 15px 15px 15px 15px">
    <div class="card-body" style="overflow-y: auto">
      <h4 class="card-title mb-4"><%= advert.title %></h4>
      <%= link_to advert.author.full_name, user_path(advert.author) %>
      <p class="card-text mt-3"><%= advert.description %></p>
    </div>
    <% if current_user&.is_goalkeeper? %>
      <div class="card-footer" style="background: inherit; border-color: inherit;">
        <% if user_subscriber?(advert) %>
          <%= button_to 'Отписаться', subscription_path(id: advert.subscriptions.where(user: current_user).last, advert_id: advert.id), method: :delete, class: "btn btn-primary", data: { turbo: false } %>
        <% else %>
          <%= button_to 'Откликнуться', subscriptions_path(advert_id: advert.id), class: "btn btn-primary", data: { turbo: false } %>
        <% end %>
      </div>
    <% end %>

    <% if advert.author == current_user %>
      <div class="row mb-2">
       <div class="col-6 text-center">
          <%= link_to 'Просмотр', edit_advert_path(advert), class: "btn btn-primary text-white", data: { turbo: false } %>
       </div>
       <div class="col-6 text-center">
          <%= button_to "Удалить", advert_path(advert), method: :delete, data: {turbo: false}, class: "btn btn-danger"%>
       </div>
      </div>
    <% end %>
  </div>
</div>
