<div class="row">
  <div class="col-4 text-center">
    <%= link_to 'Ледовые дворцы', ice_palaces_path, class: 'text-dark h1 pb-2 fw-lighter' %>
  </div>

  <div class="col-4 text-center">
    <%= link_to 'Объявления', adverts_path, class: 'text-dark h1 pb-2' %>
  </div>

  <div class="col-4 text-center">
    <%= link_to 'Поиск вратарей', users_path, class: 'text-dark h1 pb-2 fw-lighter' %>
  </div>
</div>
<hr>

<% if current_user && !current_user.is_goalkeeper? %>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <%= link_to 'Создать объявление', new_advert_path, class: 'btn btn-primary text-white' %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row pt-5 m-auto">
    <% @adverts.each do |advert| %>
        <%= render advert %>
    <% end %>
  </div>
</div>
