<%= form_with(model: goalkeeper) do |form| %>
  <% if goalkeeper.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(goalkeeper.errors.count, "error") %> prohibited this goalkeeper from being saved:</h2>

      <ul>
        <% goalkeeper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :date_of_birth, style: "display: block" %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div>
    <%= form.label :mail, style: "display: block" %>
    <%= form.text_field :mail %>
  </div>

  <div>
    <%= form.label :clubs, style: "display: block" %>
    <%= form.text_field :clubs %>
  </div>

  <div>
    <%= form.label :metro, style: "display: block" %>
    <%= form.text_field :metro %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block" %>
    <%= form.text_field :avatar %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
