<div id="<%= dom_id goalkeeper %>">
  <p>
    <strong>Full name:</strong>
    <%= goalkeeper.full_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= goalkeeper.phone_number %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= goalkeeper.date_of_birth %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= goalkeeper.email %>
  </p>

  <p>
    <strong>Clubs:</strong>
    <%= goalkeeper.clubs %>
  </p>

  <p>
    <strong>Metro:</strong>
    <%= goalkeeper.metro %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <% if goalkeeper.avatar.attached? %>
    <%= image_tag(goalkeeper.avatar, size: "200x200")%>
    <% end %>
  </p>

</div>
