
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center pt-3">
              <% if @goalkeeper.avatar.attached? %>
                <%= image_tag(@goalkeeper.avatar.variant(:thumb).processed.url, class: "rounded-circle")%>
              <% else %>
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <% end %>
              <div class="mt-4">
                <h4><%= @goalkeeper.full_name %></h4>
                <h5 class="mt-4">Вратарь</h5>
                <div class="pt-2">
                  <% if current_goalkeeper == @goalkeeper %>
                    <%= link_to "Редактировать", edit_goalkeeper_path(@goalkeeper), class: "btn btn-primary px-4"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Почта</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @goalkeeper.email %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Телефон</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <%= @goalkeeper.phone_number %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Метро</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @goalkeeper.metro %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Возраст</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <% if @goalkeeper.date_of_birth.present?%>
                  <%= age(@goalkeeper.date_of_birth) %>
                <% end %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Клубы</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @goalkeeper.clubs %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Стоимость игры (1 час)</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @goalkeeper.cost %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Уровень подготовки</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @goalkeeper.level %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <% if current_goalkeeper == @goalkeeper%>
                  <%= button_to "Удалить", @goalkeeper, method: :delete, data: {turbo: false},class: "btn btn-danger"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="pt-5">Предпочетаемые ледовые дворцы</h2>
<hr>
<div class="container">
  <div class="row pt-5 m-auto">
    <% @goalkeeper.palaces.each do |ice_palace| %>
      <div class="col-md-6 col-lg-4 pb-3">
        <%= render ice_palace %>
      </div>
    <% end %>
  </div>
</div>